
<div class="main">
    <div class="cards">
        <app-single-video
        *ngFor="let item of card"
        [title]="item.name"
        [image]="item.thumbnails.medium"
        [uploaderName]="item.author.username"
        [duration]="item.duration"
        [language]="item.lang.code"
        >
    </app-single-video>
    </div>
    <div class="pagination">
    <app-pagination 
    [currentPage]="currentPage" 
    [lastPage]="lastPage" 
    (pageChange)="changePage($event)">
    </app-pagination>
</div>
</div>